In [0]:
import pyspark.sql.functions as F
import pyspark.sql.types as T

### Step 1: Quick Analysis

In [0]:
df_sales_customers = spark.read.table("samples.bakehouse.sales_customers")
df_sales_customers.printSchema()
df_sales_customers.limit(3).toPandas()

In [0]:
# distinct values per each column: 300 rows
df_sales_customers.select([F.countDistinct(F.col(c)).alias(c) for c in df_sales_customers.columns]).show()

# count NULLs per each column: no NULLs, this is nice
df_sales_customers.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df_sales_customers.columns]).show()

### Step 2: Data Quality Issues Analysis

In `01_bakehouse_exloratory_analysis` I noticed 'Matthew' can be female.

Let's create a view and quickly see if we have other issues like names with both genders

In [0]:
df_sales_customers.createOrReplaceTempView("vw_sales_customers")

In [0]:
%%sql
WITH CTE_DISTINCT_first_name_gender AS (
    SELECT DISTINCT
         first_name
        ,gender
    FROM vw_sales_customers
)

,CTE_first_name_with_both_genders AS (
    SELECT 
         first_name
        ,COUNT(1) AS count_first_name
    FROM CTE_DISTINCT_first_name_gender
    GROUP BY 
        first_name
    HAVING 
        COUNT(1) > 1
)

SELECT DISTINCT 
     vw.first_name
    ,vw.gender
    ,cte.count_first_name
FROM vw_sales_customers vw
INNER JOIN CTE_first_name_with_both_genders cte -- INNER JOIN to filter only on duping names with both genders
    ON vw.first_name = cte.first_name 
ORDER BY 
     cte.count_first_name DESC
    ,vw.first_name
    ,vw.gender

There ☝️ are `74/2 == 37` names with both genders.
This means we need to do some extra work to get the gender right.

Let's import open-source baby-names data from  official website of the US government: https://www.ssa.gov/oact/babynames/limits.html

In [0]:
babyNames_file_path = "dbfs:/Volumes/workspace/default/testvolume/US_SSA_Baby_Names_2024.txt"

# txt file has no header, thus I will create a custom schema for the dataframe
# plus, having a predefined schema saves a lot of time for Spark to infer the schema
babyNamesSchema = T.StructType([
    T.StructField("name",   T.StringType(), True),
    T.StructField("gender", T.StringType(), True),
    T.StructField("count",  T.IntegerType(), True)
])

df_babyNames_gender = spark.read.csv(
    babyNames_file_path,
    sep = ",",
    schema = babyNamesSchema
).select("name", "gender")

df_babyNames_gender.limit(5).toPandas()

Also, in `01_bakehouse_exloratory_analysis` I noticed cities are improperly mapped to countries.

Some examples:

In [0]:
(
    df_sales_customers
        .where("state IN ('Nevada', 'Kansas', 'Washington')")
        .select("city", "state", "country")
        .distinct()
        .orderBy("country", "state")
        .show()
)

This means, we need need to do some extra work to get city-country mapping right.

Let's import open-source data from `World Cities Database`: https://simplemaps.com/data/world-cities

In [0]:
worldCities_file_path = "dbfs:/Volumes/workspace/default/testvolume/worldcities.csv"

df_worldCities = spark.read.csv(
    worldCities_file_path,
    sep = ",",
    header=True
).select("city", "city_ascii", "country")

df_worldCities.limit(3).show()

### Step 3: ETL

In [0]:
# Selecting Relevant Fields
selectedColumns = [
        "customerID", "first_name", "last_name",
        "city", "state", "country", 
        "continent", "gender"
]

df_sales_customers_selectedColumns = df_sales_customers.select(selectedColumns)

In [0]:
# let's join w/ `df_babyNames_gender` to get the correct gender
# let's join w/ `df_worldCities` to get the correct country

df_sales_customers_correctGender_correctCountry = (
    df_sales_customers_selectedColumns
        .join(df_babyNames_gender, on="first_name", how="left")
        .join(df_worldCities, on="city", how="left")
)

df_sales_customers_correctGender_correctCountry.show(3)